@inject BlogDeCafe.Services.PublicacionesService PublicacionesService

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Showcase-->
<header class="showcase">
    <h2>Dolce Gusto</h2>
    <p>Eres de los que antes de lavarse el rostro ya está encendiendo la cafetera para hacerse un café bien cargado? Eres de los que no puede ni cruzar una palabra antes de tomarse un buen café con leche?</p>
    <a href="~/Home/Nosotros" class="btn"><i class="fas fa-angle-double-left"></i> Sobre nosotros <i class="fas fa-angle-double-right"></i></a>
</header>

<!--News Cards-->
<div class="news-cards">

    @foreach (var item in PublicacionesService.GetCuatroMasRecientes().ToList())
    {
        <div class="card">
            <img src="~/img/@(item.Id).jpg" alt="@(item.Titulo)">
            <h3>@(item.Titulo)</h3>
            <p>@(item.FechaPublicacion.ToShortDateString())</p>
            <a href="~/Publicaciones/@(item.Titulo.Replace(" ","-"))">Ver post <i class="fas fa-angle-double-right"></i></a>
        </div>
    }

</div>

<section class="cards-banner-one">
    <div class="content">
        <h2>Ultimas publicaciones</h2>
        <p>Explora entre todas las publicaciones, que nosotros, tus amigos cafeteros escribimos, ordenadas de mas a menos reciente. Sin culpas, nadie esta viendo...</p>
        <a href="~/Publicaciones" class="btn"><i class="fas fa-angle-double-left"></i> Explorar <i class="fas fa-angle-double-right"></i></a>
    </div>
</section>

<!--News Cards-->
<div class="news-cards">

    @foreach (var item in PublicacionesService.GetCuatroMasComentadas().ToList())
    {
        <div class="card">
            <img src="~/img/@(item.Id).jpg" alt="@(item.Titulo)">
            <h3>@(item.Titulo)</h3>
            <p>@(item.FechaPublicacion.ToShortDateString())</p>
            <p>@(item.Comentarios.Count) Comentarios</p>
            <a href="~/Publicaciones/@(item.Titulo.Replace(" ","-"))">Ver post <i class="fas fa-angle-double-right"></i></a>
        </div>
    }

</div>

<!-- Banner 3 -->

<section class="cards-banner-3">
    <div class="content">
        <h2>Suscribete a nuestro newsletter</h2>
        <p>No te pierdas de nada y suscribete a nuestro newsletter, publicaciones diarias directo a tu telefono al alcance de un tap, vamos, nosotros te apoyamos ;) </p>
        <a href="#" class="btn" onclick="popupToggle();"><i class="fas fa-angle-double-left"></i> Suscribirme <i class="fas fa-angle-double-right"></i></a>

    </div>
</section>