@model BlogDeCafe.Models.Publicacion
@{
    ViewData["Title"] = "Publicacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<header class="publicacion" style="background: url(~/img/publicaciones/(@Model.Id).jpg) no-repeat center; box-shadow: 0px 0px 40px 30px rgb(@(Model.Publicacioncol));">
    <h2>@Model.Titulo</h2>
</header>*@

<div class="publicacion" style="background: url(~/img/publicaciones/(@Model.Id).jpg) no-repeat center; box-shadow: 0px 0px 45px 15px rgb(@(Model.Publicacioncol));">
    <img src="~/img/publicaciones/@(Model.Id).jpg"/>
    <h2>@(Model.Titulo)</h2>
</div>


<div class="centrado">

    <hr />

    @Html.Raw(Model.Contenido)

    <hr class="autor" />

    <div>
        <h3>Escrito por: @Model.Autor</h3>
        <h5>Publicado el: @Model.FechaPublicacion.ToShortDateString()</h5>
    </div>

    <hr />

    <div>
        <h2>
          Comentarios
        </h2>
        <div class="comentarionuevo">
            <form>
                <label>Dejanos un comentario!</label>
                <input type="text" required placeholder="Escribe tu nombre"/>
                <textarea required wrap="soft" placeholder="Aquí va tu comentario"></textarea>
                <p>Recuerda ser respetuoso y seguir las normas comunitarias! :)</p>
                <input type="submit" value="Enviar"/>
            </form>
        </div>
        <div class="comentarios">
            <div class="comentario">
                <div class="comentarioheader">
                    <label>Nombre</label>
                    <span>12/Dic/2023</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <div class="comentario">
                <div class="comentarioheader">
                    <label>Nombre</label>
                    <span>12/Dic/2023</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <div class="comentario">
                <div class="comentarioheader">
                    <label>Nombre</label>
                    <span>12/Dic/2023</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            
        </div>
    </div>
</div>